<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Register</title>
</head>
<body>
    <section class="content">
        <h2>Create an account</h2>
        <div class="reg-container">
            <form action="">
                <i class="bi bi-emoji-smile-fill"></i>
                <i class="bi bi-emoji-dizzy-fill"></i> // For errors
                <input type="text" id="username" name="username">
                <i class="bi bi-person-fill"></i>
                <input type="text" id="fname" name="fname">
                <i class="bi bi-envelope-fill"></i>
                <input type="email" id="email" name="email">
                <i class="bi bi-unlock-fill"></i>
                <input type="password" id="password" name="password">
            </form>

            <div class="btn-container">
                <button id="submit" name="submit">Submit</button>
                <button id="back" name="back">Back</button>
            </div>
        </div>
    </section>
</body>
</html>